node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/




ios
android

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Environment variables
.env
*.env

# Services GOOGLE
pioappdiego-firebase-adminsdk-fbsvc-7c7682a0b1.json
pioapp-9b7de-firebase-adminsdk-fbsvc-2ef0d2da35.json